html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.signin-card {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.signin-text {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.google-button {
  display: inline-flex;
  align-items: center;
  background-color: white;
  color: rgba(234, 19, 0, 0.54);
  border: 1px solid rgba(28, 4, 210, 0.966);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.google-button:hover {
  background-color: #f0f0f0;
}

.google-button img {
  margin-right: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
}

.button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #357ae8;
}
